<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--add key="IotHubConnectionString" value="{iot hub connection string}" /-->
    <add key="IotHubConnectionString" value="HostName=RaspPiTest.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=aIbMy1j1z0MJHIjd2XWBklyA49napJKINpHLOD5sqQk=" />
    <add key="IotHubUri" value="{iot hub hostname}" />
    <!--<add key="DeviceId" value="{device id}" />-->
    <add key="DeviceId" value="MyDevice" />
    
  </appSettings>
</configuration>